version: '3.8'

services:
  backend:
    build: ./backend
    container_name: my-backend
    ports:
      - "5000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    networks:
      - app-network
    restart: always

  mongo:
    image: mongo
    container_name: my-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  mobile:
    build: ./mobile
    container_name: my-mobile
    ports:
      - "19000:19000"   # Expo Dev Tools
      - "19001:19001"   # Metro bundler websocket
      - "19002:19002"   # React Native debugger
    networks:
      - app-network
    environment:
      - REACT_NATIVE_PACKAGER_HOSTNAME=host.docker.internal
      - EXPO_NO_INTERACTIVE=true

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
